@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');


body{
    font-family: 'Crimson Text', serif;
    overflow-x: hidden;
}

.title{
    font-size: 2.5em;
}

.brown-and-italic{
    font-style: oblique;
    color: brown;
}

.purple-font-bold{
    color: purple;
    font-weight: bold;
}

.nav {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    z-index: 1;
    top: 0;
    background-color: black;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 75px;
    transition: 0.7s;
    text-align: left;
}


.dropdown-btn {
    width: 300px;
    z-index: 1;
    top: 0;
    margin-left: 0;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 0.7em;
    transition: 0.7s;
    border-color: transparent transparent transparent transparent;
    background-color: black;
    color: #ccc;
    font-family: 'Crimson Text', serif;
    font-size: 1.4em;
    text-align: left;
    display: block;
    cursor: pointer;
}

.dropdown-btn:hover{
    color: #fff;
    transition: 0.4s;
}

.nav-closed {
    width: 0;
    transition: 0.7s;
}

.beige-border {
    background-color: beige; /* Changing background color */
    border-radius: 20px; /* Making border radius */
    height: auto; /* Making auto-sizable height */
    padding-left: 10px; /* Making space around letters */
    font-size: 1.5em; /* Changing font size */
}

.aquamarine-border {
    background-color: aquamarine;
    border-radius: 20px; /* Making border radius */
    height: auto; /* Making auto-sizable height */
    padding-left: 10px; /* Making space around letters */
    font-size: 1.5em; /* Changing font size */
}

.tan-border {
    background-color: tan;
    border-radius: 20px; /* Making border radius */
    height: auto; /* Making auto-sizable height */
    padding-left: 10px; /* Making space around letters */
    font-size: 1.5em; /* Changing font size */
}

.bold-text{
    font-weight: 700;
}

#weakly-typed-language-border{
    width: 10em; /* Making auto-sizable width */
}

#object-oriented-language-border{
    width: 10.5em; /* Making auto-sizable width */
}

#note-creating-array{
    width:auto
}

#versatile-border{
    width: 7.6em;
}

#bytheway-border{
    width: 4.5em;
    font-weight: bold;
    font-style: oblique;
}

.semi-title{
    font-weight: 600;
    font-size: xx-large;
}

.dot-text {
    font-style: italic;
    font-weight: 600;
}

.explicit-dot-text {
    font-style: italic;
    font-weight: 100;
}

.red-text {
    color: red;
}

.page {
    padding: 20px;
    transition: 0.7s;
    overflow: hidden;
    width: 80%;
    margin-left: 250px;
    margin-right: 15em;
}

.page-closed {
    padding: 20px;
    transition: 0.7s;
    overflow: hidden;
    width: 90%;
    margin-left: 5em;
    margin-right: 5em;
}


.dropdown-container a {
    padding: 0.6em 1em;
    font-size: 1.4em;
    text-decoration: none;
    color: #ccc;
    display: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.dropdown-container-open a {
    padding: 0.3em 1em;
    font-size: 1.3em;
    text-decoration: none;
    color: #ccc;
    display: block;
    transition: all 0.3s ease-in;
    cursor: pointer;
}
.nav a:hover {
    color: #fff;
    transition: 0.4s;
}


.slide a{
    color: black;
    font-size: 36px;
}

