@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC&display=swap');

body{
    font-family: 'Alegreya Sans SC', sans-serif;
    overflow-x: hidden;
}

.nav {
    height: 100%;
    width: 250px;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}

.nav-closed {
    width: 0;
    transition: 0.7s;
}

.page {
    padding: 20px;
    transition: 0.7s;
    overflow: hidden;
    width: 100%;
    margin-left: 250px;
}

.page-closed {
    padding: 20px;
    transition: 0.7s;
    overflow: hidden;
    width: 100%;
    margin-left: 0;
}

.nav a{
    display: block;
    padding: 20px 30px;
    font-size: 25px;
    text-decoration: none;
    color: #ccc;
}

.nav a:hover {
    color: #fff;
    transition: 0.4s;
}


.slide a{
    color: black;
    font-size: 36px;
}

